@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
	background-color: rgb(51, 51, 51);
	color: rgb(211, 209, 209);
	margin-top: 10em;
}

.input-p {
	height: 100vh;
}

.style-p {
  color: rgb(91, 165, 42);
  font-size: 2em;
	font-family: 'Black Han Sans', sans-serif;
	background-color: black
  /* display: none; */
}

#style-input {
	display: block;
}

#style-p {
	display: none;
}
