@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');



.input-p {
	height: 100vh;
}

.style-p {
  color: rgb(91, 165, 42);
  font-size: 2em;
	font-family: 'Black Han Sans', sans-serif;
	background-color: black
  /* display: none; */
}

#style-input {
	display: block;
	height: 20vh;
}

#style-p {
	display: none;
	height: 20vh;
}
